.container {
    display: flex;
}
.grid {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
}

.grid div {
    width: 40px;
    height: 40px;
}

.grid-user {
    background-color: blue
}

.grid-computer {
    background-color: rgb(58, 184, 95);
}

.grid-display {
    width: 400px;
    height: 400px;
    margin: 15px;
    background-color: rgb(48, 42, 42);
}

.destroyer-container {
    width: 80px;
    height: 40px;
    background-color: yellow;
    margin: 10px;
    display: flex;
}

.submarine-container {
    width: 120px;
    height: 40px;
    background-color: orange;
    margin: 10px;
    display: flex;
}

.cruiser-container {
    width: 120px;
    height: 40px;
    background-color: rgb(160, 41, 61);
    margin: 10px;
    display: flex;
}

.battleship-container {
    width: 160px;
    height: 40px;
    background-color: rgb(24, 166, 231);
    margin: 10px;
    display: flex;
}

.carrier-container {
    width: 200px;
    height: 40px;
    background-color: rgb(84, 15, 116);
    margin: 10px;
    display: flex;
}

.ship div {
    width: 40px;
    height: 40px;
}